.cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 10px;
    background-color: black;
    pointer-events: none;
    border-radius: 9999px;
  }
  &.blend {
    z-index: 100;
    mix-blend-mode: exclusion;
    .media {
      filter: invert(1);
    }
  }
  .media {
    display: block;
    height: 500px;
    width: 500px;
    overflow: hidden;
    border-radius: 100%;
    transform: scale(0);
    margin: -175px 0 0 -175px;
    position: relative;
    pointer-events: none;
    video {
      height: 500px;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
    }
  }
}
